{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
{% include 'inc/navbar.html.twig' %}

    <div id="layoutSidenav">
        <!-- Inclure la sidebar -->
        {% include 'inc/sidebar.html.twig' %}

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Articles</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                        <li class="breadcrumb-item active">Articles</li>
                    </ol>
                    <div class="row">
                        {% for article in articles %}
                            <div class="card">
                                <h2>{{ article.titre }}</h2>
                                <p>{{ article.texte }}</p>
                                <p>Catégorie : {{ article.categorie.id }}</p>
                                <p>Date de publication : {{ article.date|date('d/m/Y') }}</p>

                                <form action="{{ path('app_article_edit', { 'id': article.id }) }}" method="GET" style="display:inline;">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i> Modifier
                                    </button>
                                </form>

                                <form action="{{ path('app_article_delete', { 'id': article.id }) }}" method="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                                                    {% else %}
                            <p>Aucun article trouvé.</p>
                        {% endfor %}
                    </div>
            </main>

            {% include 'inc/footer.html.twig' %}
        </div>
    </div>
{% endblock %}